/* StarWarsIntro.module.css */

.star-wars-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Pathway Gothic One', sans-serif;
    background-color: black;
    color: yellow;
}

.crawl {
    position: relative;
    top: 100vh;
    opacity: 0; /* Start with the text fully transparent */
    transform-origin: 50% 100%;
    animation: crawl 60s linear forwards, fadeIn 5s ease-in forwards;
}

@keyframes crawl {
    0% {
        top: 100vh;
        transform: scale(1.5) rotateX(20deg) translateZ(0);
        opacity: 0;
    }
    50% {
        opacity: 1; /* Text becomes fully opaque halfway through */
    }
    100% {
        top: -3000px;
        transform: scale(1) rotateX(25deg) translateZ(-2500px);
        opacity: 0; /* Fade out at the end */
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.content {
    text-align: justify;
    font-size: 2rem; /* Increased font size */
    max-width: 60%; /* Restrict the width to center the text */
    margin: 0 auto; /* Center the content horizontally */
}

/* Add these styles to your StarWarsIntro.module.css file */

.button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 3;
}

.button:hover {
    background-color: #0056b3;
}

.button.active {
    background-color: #28a745;
}

.button.active:hover {
    background-color: #1e7e34;
}
